{% extends "base.html" %}
{% block style %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'MapApp/css/leaflet.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'MapApp/css/dc.css' %}" />

{% endblock %}


{% block content %}
<style type="text/css">
    .leaflet-popup-tip {display: none;}

    #map1 { width: 100%; height: 50%; float: left; margin-right:0 %; margin-top:0%; padding: 0px; }
    #tab { width: 100%; margin-bottom:1%;}
    #plots {}
    #vizbutton {}
    #loading {
        position: absolute; width: 100%; height: 100%; background: url("{% static 'MapApp/images/ajax-loader.gif' %}") no-repeat center center;
    }
</style>

<div container id="tab">
<select id="RegionSelector"></select>
 <select id="ScenarioSelector"> </select>
 <input id='vizbutton' type="button" value="Visualize" onClick="window.location.reload()">
</div>

<div id="loading"></div>

<div id="map1">

</div>
<div class="container">
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
     <select id="selectdays">
       <option value="weekend">Weekend</option>
       <option value="weekday">Weekday</option>
     </select>
     <input type="button" value="Clear Filters" onClick="javascript:clearResultsTag()">

   </div>
   </div>

  <div class="row">

  <div class="col-xs-12 col-md-12 col-md-12 col-lg-6">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="type-value-chart">
           <strong>Generation Per End Use Type</strong>
           <a class="reset" href="javascript:typeValuePie.filterAll();dc.redrawAll();" style="display: none;">(reset)</a>

           <div class="clearfix"></div>
  </div>
  </div>
  <div class="col-xs-12 col-md-12 col-md-12 col-lg-6">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="month-value-chart">
             <strong>Monthly Purchase From Utility</strong>
             <a class="reset" href="javascript:monthValuePie.filterAll();dc.redrawAll();" style="display: none;">(reset)</a>
             <div class="clearfix"></div>
    </div>
  </div>
 </div>
  <div class="row">

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="hourly-utility-chart">
               <strong>Utility Purchase & On-site Generation</strong>
               <a class="reset" href="javascript:hourlyUtilityPurchaseLine.filterAll();dc.redrawAll();" style="display: none;">(reset)</a>
               <div class="clearfix"></div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="voltage-magnitute-chart">
                   <strong>Voltage Magnitude on Node</strong>
                   <a class="reset" href="javascript:voltageMagnitudeLine.filterAll();dc.redrawAll();" style="display: none;">(reset)</a>
                   <div class="clearfix"></div>
  </div>
  </div>
  </div>
   <div class="row">
     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="power-flow-chart">
                <strong>Active Power Flows</strong>
                <a class="reset" href="javascript:powerFlowLine.filterAll();dc.redrawAll();" style="display: none;">(reset)</a>
                <div class="clearfix"></div>
        </div>
     </div>
     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="reactive-flow-chart">
                <strong>Reactive Power Flows</strong>
                <a class="reset" href="javascript:reactiveFlowLine.filterAll();dc.redrawAll();" style="display: none;">(reset)</a>
                <div class="clearfix"></div>
        </div>
     </div>
     <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" id="voltage-magnitute-chart">
                    <strong>Voltage Magnitude on Node</strong>
                    <a class="reset" href="javascript:voltageMagnitudeLine.filterAll();dc.redrawAll();" style="display: none;">(reset)</a>
                    <div class="clearfix"></div>
     </div> -->
    </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <strong>Installed PV Capacity per Type[kW]</strong>
      <table class="table table-hover" id="dc-data-table">
        </table>
    </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <strong>Installed Storage Capacity per Type[kW]</strong>
      <table class="table table-hover" id="dc-data-table2">
        </table>
    </div>
    </div>

  </div>

{% endblock %}

{% block script %}
<script>
var region_name_ds
var scenario_name_ds


$("#ScenarioSelector").change(function () {
  console.log("scenario_selector_trigger")
  var snd = $(this).val();
  localStorage.setItem("scenario_name_ds", snd);
  });

// Update scenario selector
$("#RegionSelector").change(function () {
  console.log("region_selector_trigger!")
  var region = $(this).val();
  localStorage.setItem("region_name_ds", region);
  var $select = $('#ScenarioSelector');
  //request the JSON data and parse into the select element
  $.getJSON("{% static 'MapApp/data/descriptor.json' %}", function(data){
    //clear the current content of the select
    $select.html('');
    //iterate over the data and append a select option
    $.each(data.distribution, function(key, val){
      if (val.value==region){
        $.each(val.scenarios, function(key, scenario){
      $select.append('<option value="' + scenario.value + '">' + scenario.name + '</option>');
    })
  }
});
var options = $('#ScenarioSelector').find('option')
console.log(options)
$('#ScenarioSelector').val(options[0].value).change();
});
});


//request the JSON data and parse into the select element
$.getJSON("{% static 'MapApp/data/descriptor.json' %}", function(data){
  //clear the current content of the select
  $('#RegionSelector').html('');
  //iterate over the data and append a select option
  $.each(data.distribution, function(key, val){
    $('#RegionSelector').append('<option value="' + val.value + '">' + val.name + '</option>');
  })
  // select the previously queried value
  region_name_ds=localStorage.getItem("region_name_ds")
  if (region_name_ds === null){region_name_ds='pge'};
  $('#RegionSelector').val(region_name_ds).change();

  $('#ScenarioSelector').html('');
  //iterate over the data and append a select option
  $.each(data.distribution, function(key, val){
    if (val.value==region_name_ds){
      $.each(val.scenarios, function(key, scenario){
    $('#ScenarioSelector').append('<option value="' + scenario.value + '">' + scenario.name + '</option>');
  })
}
});
scenario_name_ds=localStorage.getItem("scenario_name_ds")
var options = $('#ScenarioSelector').find('option')
var step
var check=false
var scenario_list=[]
for (step = 0; step < options.length; step++) {
  if (scenario_name_ds==options[step].value){check=true};
}
// if the saved scenario not in current
if (!check){
var options = $('#ScenarioSelector').find('option')
scenario_name_ds=options[0].value
}
$('#ScenarioSelector').val(scenario_name_ds).change();

$.getScript("{% static 'MapApp/js/combined_pv_lines.js' %}")
});

<!-- jQuery Sparklines -->
function clearResultsTag() {
  nodeChart.filterAll();
  lineChart.filterAll();
  dc.redrawAll();
  maps.forEach(function(map_obj) {
    console.log(map_obj)
    map_obj.overlay["Nodes"].eachLayer(function(layer)
    {
    if ( filteredList.indexOf(layer.options.name) >-1){
            layer.setIcon(nodeIcon)}
  });
  map_obj.overlay["Loads"].eachLayer(function(layer)
  {
  if ( filteredList.indexOf(layer.options.name) >-1){
          layer.setIcon(loadIcon)}
  });
  map_obj.overlay["Lines"].eachLayer(function(layer)
  {layer.setStyle({color:"red"})});

});
};

// var onResizing = function(event) {
//   voltageMagnitudeLine.legend(dc.legend().x($('#voltage-magnitute-chart').width()/2-50).horizontal(true).autoItemWidth(true))
//   hourlyUtilityPurchaseLine.legend(dc.legend().x($('#hourly-utility-chart').width()/2-75).horizontal(true).autoItemWidth(true))
//
//   dc.renderAll();
//
// };
//
// window.onresize = onResizing;
// window.onload = onResizing;


$('#selectdays').change(function() {
    //Use $option (with the "$") to see that the variable is a jQuery object
    var $option = $(this).find('option:selected');
    //Added with the EDIT
    var value = $option.val();//to get content of "value" attrib
    var text = $option.text();//to get <option>Text</option> content
    console.log(value)
    linedayChart.filter(value)
    dayChart.filter(value)
    dc.redrawAll()
});

</script>

<script type="text/javascript" src="{% static 'MapApp/js/libraries/leaflet.js' %}"></script>
<script type="text/javascript" src="{% static 'MapApp/js/libraries/heatmap.js' %}"></script>

<script type="text/javascript" src="{% static 'MapApp/js/libraries/leaflet-heatmap.js' %}"></script>

<script type="text/javascript" src="{% static 'MapApp/js/libraries/d3.js' %}"></script>
<script type="text/javascript" src="{% static 'MapApp/js/libraries/crossfilter.js' %}"></script>
<script type="text/javascript" src="{% static 'MapApp/js/libraries/dc.js' %}"></script>
<script type="text/javascript" src="{% static 'MapApp/js/libraries/colorbrewer.js' %}"></script>
<script type="text/javascript" src="{% static 'MapApp/js/libraries/jquery.min.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'MapApp/js/combined_pv_lines.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'MapApp/js/dc-resizing.js' %}"></script> -->


{% endblock %}
